<div class="row mb-4">
  <div class="col-md-4">
    <a href="{% url 'event_list' %}" class="tile-link">
      <div class="card p-3 info-tile events">
        <h5>Find Events</h5>
        <p class="small">Browse and discover upcoming events.</p>
      </div>
    </a>
  </div>
  <div class="col-md-4">
    <a href="{% url 'login' %}" class="tile-link">
      <div class="card p-3 info-tile regs">
        <h5>Register Online</h5>
        <p class="small">Sign up for events in just a few clicks.</p>
      </div>
    </a>
  </div>
  <div class="col-md-4">
    <a href="{% url 'dashboard' %}" class="tile-link">
      <div class="card p-3 info-tile manage">
        <h5>Manage Your Events</h5>
        <p class="small">Create and control your own events.</p>
      </div>
    </a>
  </div>
</div>